/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 320.98px) {

    #header {

        background: url(/images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(13, 100%, 72%), rgb(255, 61, 84));
        background-position: 25% 54%;
        color: #FFFFFF;
        padding: 50px 0;
        border-bottom-left-radius: 100px;
    
    }

    .header-logo-menu {

        gap: 40vw;

    }

    .header-menu, .header-login-register {

        display: none;
        padding-top: 20px;

    }

    .header-menu {

        height: 800px;

    }

    .header-dropdown {

        margin-bottom: 180px;

    }

    #hamburger-menu {

        display: block;
        width: 26px;
        height: 26px;
        background-image: url(/images/icon-hamburger.svg);
        background-repeat: no-repeat;
        margin-top: 15px;
    
    }
    
    #hamburger-menu:hover {
    
        cursor: pointer;
    
    }

    .main-section-headline-description h1 {

        text-align: center;
        font-size: 48px;
    
    }

    .main-section-headline-description p {

        text-align: center;
        width: 220px;
    
    }

    .main-section-start-free-learn-more {

        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .section-future {

        text-align: center;
        margin: 100px auto;

    }

    .section-future, .image-future, .description, .headline-art-infrastructure, .description-art-infrastructure {

        width: 90vw;

    }

    .image-secondary-headline-description {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin-left: 0px;
    
    }

    .secondary-headline-description-future {

        margin-top: 0;

    }

    .image-future {

        content: url(/images/illustration-editor-mobile.svg);

    }

    .headline-future {

        position: unset;
    
    }

    .section-art-infrastructure {

        text-align: center;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;

    }

    .image-art-infrastructure {

        width: 100vw;

    }

    .headline-art-infrastructure {

        font-size: 34px;

    }

    .description-art-infrastructure {

        margin: 0 auto 250px auto;

    }

    .section-simple {

        font-family: 'Overpass', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin: 30px auto;
    
    }

    .image-simple {

        width: 100vw;
        content: url(/images/illustration-laptop-mobile.svg);

    }

    #footer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
    }

    .menus-footer {

        display: flex;
        flex-direction: column;
        gap: 50px;
    
    }

}

@media (min-width: 321px) and (max-width: 575.98px) {

    #header {

        background: url(/images/bg-pattern-intro-mobile.svg), linear-gradient(to bottom right, hsl(13, 100%, 72%), rgb(255, 61, 84));
        background-position: 37% 35%;
        color: #FFFFFF;
        padding: 50px 0;
        border-bottom-left-radius: 100px;
    
    }

    .header-logo-menu {

        gap: 40vw;

    }

    .header-menu, .header-login-register {

        display: none;
        padding-top: 20px;

    }

    .header-menu {

        height: 520px;

    }

    .header-dropdown {

        margin-bottom: 220px;

    }

    #hamburger-menu {

        display: block;
        width: 26px;
        height: 26px;
        background-image: url(/images/icon-hamburger.svg);
        background-repeat: no-repeat;
        margin-top: 15px;
    
    }
    
    #hamburger-menu:hover {
    
        cursor: pointer;
    
    }

    .main-section-headline-description h1 {

        width: 100vw;
        font-size: 42px;
        text-align: center;
    
    }

    .main-section-headline-description p {

        text-align: center;
        width: 90vw;
    
    }

    .main-section-start-free-learn-more {

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;

    }

    .section-future {

        text-align: center;
        margin: 100px auto;

    }

    .headline-future, .image-future {

        width: 100vw;

    }

    .image-secondary-headline-description {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin-left: 0px;
    
    }

    .secondary-headline-description-future {

        margin-top: 0;

    }

    .image-future {

        content: url(/images/illustration-editor-mobile.svg);

    }

    .headline-future {

        position: unset;
        font-size: 32px;
        width: 100vw;
    
    }

    .secondary-headline, .description, .headline-art-infrastructure, .description-art-infrastructure {

        width: 80vw;

    }

    .section-art-infrastructure {

        background-position: 50% 300%;
        background-size: 700px;
        text-align: center;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin: 200px 0 100px 0;

    }

    .image-art-infrastructure {

        width: 100vw;

    }

    .headline-art-infrastructure {

        font-size: 34px;
        margin-top: 30px;

    }

    .description-art-infrastructure {

        margin: 0 auto 320px auto;

    }

    .section-simple {

        font-family: 'Overpass', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin: 50px auto;
    
    }

    .image-simple {

        width: 100vw;
        content: url(/images/illustration-laptop-mobile.svg);

    }

    #footer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
    }

    .menus-footer {

        display: flex;
        flex-direction: column;
        gap: 50px;
    
    }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    #header {

        background: url(/images/bg-pattern-intro-desktop.svg), linear-gradient(to bottom right, hsl(13, 100%, 72%), rgb(255, 61, 84));
        background-position: 45% 52%;
        color: #FFFFFF;
        padding: 50px 0;
        border-bottom-left-radius: 100px;
    
    }

    .header-logo-menu {

        gap: 40vw;

    }

    .header-menu, .header-login-register {

        display: none;
        padding-top: 20px;

    }

    .header-menu {

        height: 520px;

    }

    .header-dropdown {

        margin-bottom: 220px;

    }

    #hamburger-menu {

        display: block;
        width: 26px;
        height: 26px;
        background-image: url(/images/icon-hamburger.svg);
        background-repeat: no-repeat;
        margin-top: 15px;
    
    }
    
    #hamburger-menu:hover {
    
        cursor: pointer;
    
    }

    .main-section-headline-description h1 {

        text-align: center;
    
    }

    .main-section-headline-description p {

        text-align: center;
        width: 90vw;
    
    }

    .main-section-start-free-learn-more {

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;

    }

    .section-future {

        text-align: center;
        margin: 100px auto;

    }

    .headline-future, .image-future {

        width: 100vw;

    }

    .image-secondary-headline-description {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin-left: 0px;
    
    }

    .image-future {

        content: url(/images/illustration-editor-mobile.svg);
        width: 90vw;

    }

    .headline-future {

        position: unset;
    
    }

    .secondary-headline {

        font-size: 26px;
        margin-bottom: 20px;
    
    }

    .section-art-infrastructure {

        background-position: 50% 200%;
        background-size: cover;
        text-align: center;
        height: 600px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin: 250px 0 100px 0;

    }

    .image-art-infrastructure {

        margin-top: 0px;
    
    }

    .description-art-infrastructure {

        margin: 0 auto 360px auto;

    }

    .section-simple {

        font-family: 'Overpass', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin: 50px auto;
    
    }

    .image-simple {

        width: 90vw;
        content: url(/images/illustration-laptop-mobile.svg);

    }

    #footer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
    }

    .menus-footer {

        display: flex;
        flex-direction: row;
        gap: 150px; 
    }

}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/