/* Ubuntu - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Overpass - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    padding: 0;
    margin: 0;

}

.header {

    background: url(/images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(13, 100%, 72%), rgb(255, 61, 84));
    background-position: 25% 54%;
    color: #FFFFFF;
    height: 600px;
    padding-top: 50px;
    margin: 0 auto;
    border-bottom-left-radius: 100px;

}

.header-navs {

    display: flex;
    justify-content: space-around;

}

.logo-menu {

    gap: 50px;

}

.icon-hamburger, .icon-close {

    display: none;

}

.logo-menu {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#header-register {

    display: block;

}

.logo-menu, #header-register {

    font-family: 'Ubuntu', sans-serif;

}

#header-menu {

    display: flex;
    gap: 50px;

}

.menu-content {

    margin-bottom: 0;

}

#content-product, #content-company, #content-connect {

    display: none;

}

#content-product.active, #content-company.active, #content-connect.active {

    display: block;
    position: absolute;

}

#icon-hamburger, #icon-close, .menu, #header-register {

    margin-top: 10px;

}

.menu-headline {

    margin-bottom: 20px;

}

.menu-headline:hover {

    cursor: pointer;

}

.menu-item {

    line-height: 1.5;
    list-style: none;

}

.menu-link, .register-login, .register-sign-up {

    text-decoration: none;
    color: #FFFFFF;

}

.header-register {

    display: block;

}

.register-login, .register-sign-up {

    padding: 10px 30px;
    font-weight: 600;

}

.register-login:hover, .register-sign-up:hover {

    background: #FFFFFF;
    color: #FF525D;
    border-radius: 20px;

}

.header-main-content {

    font-family: 'Overpass', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 150px;

}

.main-content-headline-description {
    
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.main-content-headline {

    font-size: 64px;
    font-weight: 400;
    text-align: center;

}

.header-main-links {

    display: flex;
    gap: 20px;

}

.start-free, .learn-more {

    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 30px;
    font-weight: 600;
    border: 1px solid #FFFFFF;
    border-radius: 20px;

}

.start-free:hover, .learn-more:hover {

    background: #FFFFFF;
    color: #FF525D;

}